apiVersion: v1
kind: PersistentVolume

metadata:
  name: mm-mongodb-pv
  labels:
    type: local
    app: mm-database

spec:
  capacity:
    storage: 2Gi
  
  accessModes:
    - ReadWriteOnce
  
  persistentVolumeReclaimPolicy: Delete
  
  hostPath:
    path: "/mnt/data/mm-mongodb"
    type: DirectoryOrCreate

---
apiVersion: v1
kind: PersistentVolumeClaim

metadata:
  name: mm-mongodb-pvc
  namespace: mm-project
  labels:
    app: mm-database

spec:
  accessModes:
    - ReadWriteOnce
  
  resources:
    requests:
      storage: 1Gi

---

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: mm-storage-class
provisioner: rancher.io/local-path
